
/* Banner Horizontal */
.banner-x{
    color: #fff;
    height: 420px;
    position: relative;
    box-shadow: 0 7px 14px 0 rgba(0,0,0,.1);
    margin-top: 3rem;
}

.banner-x img{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    object-fit: cover;
    border-radius: 5px;
    transition: all 0.3s;
}

.banner-x .map-frame{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    object-fit: cover;
    border-radius: 5px;
    transition: all 0.3s;
}

.banner-x span{
    font-weight: 900;
    font-size: 2.2rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 3rem;
    text-shadow: 0 7px 14px rgba(0,0,0,.2);
    color: #fff !important;
    text-align: right;
}

.wall-banner-x {
    width: 100%;
    height: 320px;
    text-align: right;
    position: relative;
}

.wall-banner-x .container{
    height: 100%;
    position: relative;
}

.wall-banner-x img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.wall-banner-x h1 {
    color: #fff;
    font-size: 50px;
    padding: 0;
    margin: 0;
    text-shadow: 0 7px 14px rgba(0,0,0,.2);
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
}

.wall-banner-x h1 span {
    display: block;
}

@media (max-width:767px){
    .banner-x span{
        right: 1rem;
    }
    .banner-x{
        margin-top: 0;
    }
    .wall-banner-x h1 {
        font-size: 30px;
    }
}


/* Filter Section */
.filter-section{
    background-color: #eff7fd;
    padding: 1rem;
    margin: 0 -1rem;
    width: calc(100% + 2rem);
}

.filter-head{
    color: #555;
    font-weight: 500;
    font-size: 0.85rem;
}

.filter-section .input-group-text{
    background-color: #eff7fd;
    border: none;
    color: #f56c02;
    font-size: 1.2rem;
}

.filter-section .input-group input[type=text],
.filter-section .input-group input[type=number]{
    background-color: #eff7fd;
    border: none;
    border-bottom: 2px solid #f56c02;
    border-radius: 0;
    font-weight: 500;
}

.filter-section .input-group .btn-secondary{
    color: #f56c02 !important;
}


.filter-section .input-group input[type=range]{
    width: calc(100% - 5.6rem);
    margin-top: 0.35rem;
}

.filter-section .price-group .input-group-text{
    font-size: 1.1rem;
}

.filter-section .price-group{
    margin-top: 0.2rem;
}


.filter-btn-wrapper{
    margin-top: 1.5rem;
    display: flex;
    justify-content: center;
}

.filter-section .dropdown-toggle{
    width: 100%;
}


/* Dropdown Menu */
.filter-section .dropdown-menu .row{
    margin: 0;
}
.filter-section .dropdown-more-options .col-md-6{
    padding-left: 0;
    padding-right: 0;
}
.filter-section .dropdown-more-options .custom-control{
    margin-left: 1.5rem;
}

@media (min-width: 768px){
    .filter-section .dropdown-menu{
        width: 560px;
    }

    .filter-section .dropdown-toggle{
        padding : .375rem 1.5rem;
    }

    .filter-section .filter-small-col{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex: 0 0 20%;
        max-width: 20%;
    }

    .filter-section .filter-large-col{
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex: 0 0 30%;
        max-width: 30%;
    }

}



/* Result Section */
.result-section{
    overflow: visible;
}
.result-section .table-responsive{
    display: block;
}

.result-section .result-filter{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.85rem;
}

.result-section .result-filter .sort-select-wrap{
    display: flex;
    align-items: center;
}

.result-section .result-filter #sort-select{
    border: none;
    font-weight: 500;
}

@media (max-width: 767px){
    .result-section .result-filter{
        display: block;
    }
}

/* Result Wrap */
.result-card{
    width: 100%;
    /* height: 8rem; */
    margin: 1rem 0 0 0 !important;
    cursor: pointer;
    top: 0;
    transition: all 0.3s;
    color: #333;

}

.result-card:hover{
    top: -5px;
    box-shadow: 0 1px 6px rgba(57,73,76,.35);
    color: #333;
    text-decoration: none;
}

.result-card-row > div{
    padding: 1rem 0.5rem;
}

.result-col-loc{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

img.result-img{
    height: 100%;
    width: calc(100% - 1rem);
    object-fit: cover;
    margin-left: 1rem;
}

.result-card .card-subhead-text{
    margin-bottom: 0rem;
    display: block;
}
.result-card .result-col-name .card-subhead-text{
    margin-bottom: 0;
}
.result-col-loc span.location{
    display: block;
    margin: 0.5rem 0;
    font-weight: 500;
}
.result-col-loc i.fa-arrow-down{
    font-size: 1.5rem;
    margin: 0 1rem;
    margin-top: 1.5rem;
}

.result-card-row .card-text i{
    font-size: 1.2rem;
    color: #f56c02;
}

.result-card .card-body{
    padding: 0;
}

.result-card .card-body .card-text{
    margin-top: 0.8rem;
    margin-bottom: 0.5rem;
    font-size: 0.9rem;
}


.result-collapse{
    padding: 1rem !important;
}

.offer-info-row i{
    color: #f56c02;
}


/* Result table */
.results-table{
    min-width: 1300px;
    /* width: 100%; */
}

.results-profile-table{
    min-width: 1200px;
}

.trusted-jobs-table{
    min-width: 600px;
}

.results-table thead th{
    font-weight: 500;
    font-size: 0.85rem;
    color: #8b8b8b;
}

.results-table tbody tr{
    cursor: pointer;
    font-size: 0.88rem;
    transition: all 0.3s;
}

.results-table tbody tr{
    border-top: 1px solid #dee2e6;
}
.results-table tbody tr td{
    border-top: none;
}
.trusted-jobs-table tbody tr{
    cursor: auto;
}
.trusted-jobs-table tbody tr td{
    border-top: 1px solid #dee2e6;
}

.results-table tbody tr:hover{
    top: -5px;
    box-shadow: 0 1px 6px rgba(57,73,76,.35);
}

tr.collape-row td{
    padding: 0 !important;
}

.results-table tr td{
    padding: 0.5rem;
}

.results-table tr.collapse-row td{
    padding: 0;
}

.results-table tr td i:not(.fa-trash){
    color: #f56c02;
    font-size: 1rem;
}

.results-table tr .result-img img{
    height: 60px;
    width: 60px;
    object-fit: cover;
    object-position: center;
}

.results-table tr .result-img{
    width: 110px;
    height: 110px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.trusted-jobs-table tr .result-img{
    width: auto;
    height: 80px;
}

.results-table tbody tr td.result-loc,
.results-table tbody tr td.result-weight,
.results-table tbody tr td.result-distance,
.results-table tbody tr td.result-price,
.results-table tbody tr td.result-bids,
.results-table tbody tr td.result-date,
.results-table tbody tr td.result-courier{
    font-size: 0.85rem;
    font-weight: 500;
    height: 107px;
}

.trusted-jobs-table tbody tr td.result-loc,
.trusted-jobs-table tbody tr td.result-weight,
.trusted-jobs-table tbody tr td.result-distance,
.trusted-jobs-table tbody tr td.result-price,
.trusted-jobs-table tbody tr td.result-bids,
.trusted-jobs-table tbody tr td.result-date,
.trusted-jobs-table tbody tr td.result-courier{
    height: auto;
}

.results-table tbody tr td.result-price{
    font-size: 1rem;
}


.results-table tbody tr td.result-loc{
    padding-left: 1rem;
    width: 250px;
}

.results-table tbody tr td.result-loc span.location{
    display: block;
    display: -webkit-box;
    margin: 0.5rem 0;
    font-weight: 500;
    font-size: 0.9rem;
}

.results-table tbody tr td.result-loc i.fa-arrow-down{
    font-size: 1.5rem;
    margin: 0 1rem;
    color: #555;
}

.results-table tbody tr td.result-info{
    width: 320px;
}

.results-table tbody tr td.result-info h5{
    width: 320px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.results-table tbody tr td.result-info .card-text{
    width: 320px;
    height: 1.4rem;
    overflow: hidden;
    text-overflow: ellipsis;
}

.results-table tbody tr td.result-info .card-text.text-muted{
    height: 3em;
    width: 100%;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}


@media(min-width: 768px){
    .btn-bid{
        width: 100%;
    }
}


/* Top Carrier Results */
.top-carrier-section{
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
}

.top-carrier-wrapper{
    width: 290px;
    border-radius: 5px;
    background-color: #eff7fd;
    padding: 1rem;
    margin: 0.5rem;
    flex: 0 0 auto;
}

.top-carrier-wrapper .profile-info span{
    color: #333;
    font-weight: 500;
    font-size: 0.9rem !important;
}

.top-carrier-wrapper .profile-info{
    margin: 0.5rem 0;
}

.top-comment{
    background-color: #fff;
    border-radius: 5px;
    padding: 0.5rem;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
    position: relative;

    width: 100%;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    height: calc(4.5em + 0.5rem);
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}